<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LenArch Packages</title>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/nav', {mobile: mobile}); %>

		<div class="container">
			<h1 class="header">The Packages of LenArch</h1>
		</div>
	</body>
	<%- include('partials/materializescript'); %>
</html>